@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.hover-default {
		@apply transition ease-in-out delay-75 duration-300;
	}
	.transition-none-important {
		transition: none !important;
	}
	.hover-shine:after {
		content: '';
		background-color: rgba(255, 255, 255, 0.4);
		transition: none;
		@apply absolute top-0 left-0 w-0 h-full;
	}
	.hover-shine:hover:after {
		width: 120%;
		background-color: rgba(255, 255, 255, 0);
		@apply delay-200 transition-all duration-500 ease-in-out;
	}
}
html:focus-within {
	scroll-behavior: smooth;
}
